<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.blue.mapper.DeviceMapper">
<!--    <resultMap id="BaseResultMap" type="xyz.blue.pojo.Device">-->
<!--        <id column="device_id" jdbcType="INTEGER" property="device_id" />-->
<!--        <result column="device_name" jdbcType="CHAR" property="device_name" />-->
<!--        <result column="user_id" jdbcType="INTEGER" property="user_id" />-->
<!--        <result column="device_mac" jdbcType="INTEGER" property="device_status" />-->
<!--        <result column="device_status" jdbcType="BOOLEAN" property="device_mac" />-->
<!--    </resultMap>-->
    <insert id="insert_device">
        insert into device(device_name, user_id, device_mac)
        values (#{device_name}, #{user_id}, #{device_mac})
    </insert>

    <insert id="insert_Device">
        insert into device(user_id, device_mac)
        values (#{user_id}, #{device_mac})
    </insert>


    <insert id="insert_deviceLog">
        insert into device(device_status, device_mac,device_id)
        values (#{device_status}, #{device_id},#{device_id})
    </insert>

    <update id="update_deviceById">
        update device
        set user_id=#{user_id}
        where device_id = #{device_id}
    </update>

    <update id="update_device_statusById">
        update device
        set device_status=#{device_status}
        where device_id = #{device_id}
    </update>


    <delete id="del_deviceById">
        delete device
        FROM device
        where device_id = #{deviceId}
    </delete>


    <select id="queryDeviceListByUserID" parameterType="int" resultType="xyz.blue.pojo.Device">
        select device_id, device_name, user_id, device_mac, device_status
        from device
        where user_id = #{user_id}
    </select>


    <select id="queryDeviceList" resultType="xyz.blue.pojo.Device">
        select *
        from device
    </select>


    <select id="query_deviceById" resultType="xyz.blue.pojo.Device">
        select device_id,device_name,user_id,device_mac,device_status
        from device
        where device_id = #{deviceId}
    </select>

</mapper>