<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.blue.mapper.DeviceMapper">
    <insert id="insert_device">
        insert into device(device_name, user_id,device_mac)
        values (#{device_name}, #{user_id},#{device_mac})
    </insert>


    <insert id="insert_deviceLog">
        insert into device_log(status, device_id)
        values (#{status}, #{device_id})
    </insert>

    <update id="update_deviceById">
        update device
        set user_id=#{user_id}
        where device_id = #{device_id}
    </update>


    <delete id="del_deviceById">
        delete device
        FROM device
        where device_id = #{deviceId}
    </delete>


    <select id="queryDeviceListByUserID" parameterType="int" resultType="xyz.blue.pojo.Device">
        select *
        from device
        where user_id = #{user_id}
    </select>


    <select id="queryDeviceList" resultType="xyz.blue.pojo.Device">
        select *
        from device
    </select>


    <select id="query_deviceById" resultType="xyz.blue.pojo.Device">
        select *
        from device
        where device_id = #{deviceId}
    </select>

</mapper>