<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.blue.mapper.DeviceMsgMapper">


    <insert id="insert_msg" parameterType="xyz.blue.pojo.DeviceMsg">
        insert into device_msg (device_id, to_user_id, msg)
        values (#{device_id}, #{to_user_id}, #{msg})
    </insert>
    <select id="queryDeviceMsgByID" parameterType="int" resultType="xyz.blue.pojo.DeviceMsg">
        select device_msg_id, device_id, to_user_id, msg, DATE_FORMAT(date, '%W %M %Y %H:%i:%s')
        from device_msg
        where to_user_id = #{to_user_id}
    </select>


</mapper>