<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.blue.mapper.UserMapper">

    <select id="queryUserList" resultType="xyz.blue.pojo.User">
        select *
        from tb_user
    </select>


    <select id="queryUserByID" parameterType="int" resultType="xyz.blue.pojo.User">
        select *
        from tb_user
        where user_id = #{id}
    </select>

    <select id="queryUserByName" parameterType="String" resultType="xyz.blue.pojo.User">
        select *
        from tb_user
        where user_name = #{name}
    </select>

    <select id="addUser" resultType="java.lang.Object">
        insert into tb_user(user_name, user_pwd)
        values (#{user_name}, #{user_pwd})
    </select>

    <select id="updateUser" resultType="java.lang.Integer">
        update tb_user
        set user_name= #{user_name},
            user_pwd = #{user_pwd}
        where user_id = #{user_id}
    </select>

    <select id="deleteUser" resultType="int">
        delete
        from tb_user
        where user_id = #{user_id}
    </select>

</mapper>