<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/base/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{../layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{../layui/css/layui.mobile.css}" media="all"/>
    <script th:src="@{../jquery.min.js}"></script>
    <script th:src="@{../layui/layui.all.js}"></script>
    <script th:src="@{../layui/layui.js}"></script>
    <style>
        .threed {
            text-align: center;
            color: #eb7350;
            -webkit-text-stroke: 1px black;
            letter-spacing: 0.04em;
            background-color: white;
        }
    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:insert="~{/pages/commons/commons.html::navbar}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div th:insert="~{/pages/commons/commons.html::siderbar}"></div>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>Welcome back,</h2>
                                    <p class="mb-md-0">Your analytics dashboard template.</p>
                                </div>
                                <div class="d-flex">
                                    <i class="mdi mdi-home text-muted hover-cursor"></i>
                                    <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
                                    <p class="text-primary mb-0 hover-cursor">Analytics</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-end flex-wrap">
                                <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                                    <i class="mdi mdi-download text-muted"></i>
                                </button>
                                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                    <i class="mdi mdi-clock-outline text-muted"></i>
                                </button>
                                <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                    <i class="mdi mdi-plus text-muted"></i>
                                </button>
                                <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body dashboard-tabs p-0">
                                <ul class="nav nav-tabs px-4" role="tablist" >
                                    <li class="nav-item" th:each="deviceOnLine: ${deviceOnLines}">
                                        <a class="nav-link active" th:id="${deviceOnLine.getDevice_id()}+'-tab'" data-toggle="tab" th:href="@{'#'+${deviceOnLine.getDevice_id()}}"
                                           role="tab" aria-controls="overview" aria-selected="true"
                                           th:text="${deviceOnLine.getDevice_name()}">Overview</a>
                                    </li>

                                </ul>

                                <div class="tab-content py-0 px-0" th:each="deviceOnLine: ${deviceOnLines}">
                                    <div class="tab-pane fade show active" th:id="${deviceOnLine.getDevice_id()}"  role="tabpanel"
                                         th:aria-labelledby="${deviceOnLine.getDevice_id()}+'-tab'">
                                        <div class="d-flex flex-wrap justify-content-xl-between">
                                            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                                <div class="layui-col-md8 layui-col-md-offset2"
                                                     style="margin-top: 20px">
                                                    <h1 style="margin-top: 100px">用户：<span
                                                            th:text="${session.loginUser.user_name}"></span>的管理页面</h1>
                                                    <div class="layui-card" id="page1">
                                                        <div class="layui-card-body-inline"
                                                             style="padding-bottom: 20px">
                                                            <div class="layui-form-item">
                                                                <label class="layui-form-label">在线数量:<span id="sum"
                                                                                                           th:text="${num}">0</span></label>
                                                            </div>
                                                            <form class="layui-form" action="">
                                                                <div class="layui-form-item">
                                                                    <label class="layui-form-label">我的设备:</label>
                                                                    <div class="layui-input-block">
                                                                        <label>
                                                                            <input type="checkbox"
                                                                                   th:each="device: ${device}"
                                                                                   name="check"
                                                                                   th:title="${device.getDevice_id()}">
                                                                            <!--                                <input type="checkbox" th:each="device: ${}" name="check"-->
                                                                            <!--                                       th:title="${device.getDevice_name()}">-->
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="layui-form-item">

                                                                    <label class="layui-form-label">在线设备:</label>
                                                                    <div class="layui-input-block">
                                                                        <!--/*@thymesVar id="getDevice_name" type="xyz\blue\pojo\Device.java"*/-->
                                                                        <input type="checkbox"
                                                                               th:each="device: ${deviceOnLines}"
                                                                               name="check"
                                                                               th:title="${device.getDevice_id()}">
                                                                    </div>
                                                                </div>
                                                            </form>

                                                            <div class="layui-form-item">
                                                                <label class="layui-form-label">信息内容:</label>
                                                                <div class="layui-input-inline" style="width: 300px">
                                                                    <input id="msg" type="text" name="title" required
                                                                           lay-verify="required" placeholder="请输入要发送的内容"
                                                                           autocomplete="on" class="layui-input">
                                                                </div>
                                                            </div>

                                                            <button class="layui-btn" onclick="sendMsg()">发送</button>
                                                            <button class="layui-btn" onclick="sendAll()">全部发送</button>
                                                            <button class="layui-btn" onclick="addDeviceBTN()">添加设备
                                                            </button>

                                                        </div>
                                                    </div>
                                                    <div class="layui-card" style="margin-top: 100px">
                                                        <div class="layui-card-header">
                                                            <h1>操作详情</h1>
                                                        </div>

                                                        <div id="content" class="layui-card-body"
                                                             placeholder="请输入要发送的内容">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- content-wrapper ends -->

    <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{vendors/base/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script th:src="@{vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{js/off-canvas.js}"></script>
<script th:src="@{js/hoverable-collapse.js}"></script>
<script th:src="@{js/template.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/data-table.js}"></script>
<script th:src="@{js/jquery.dataTables.js}"></script>
<script th:src="@{js/dataTables.bootstrap4.js}"></script>
<!-- End custom js for this page-->


<script type="text/javascript">


    layui.use('form', function () {
        const form = layui.form;
    });

    function sendMsg() {
        let user = [];
        $("input[name='check']:checked").each(function (i) {//把所有被选中的复选框的值存入数组
            user = user + $(this).attr("title") + ","
        });
        console.log(user)

        if (user.length > 0) {
            user = user.substr(0, user.length - 1);
        } else {
            console.log("未选中发送人")
            var content = $("#content").html();
            $("#content").html(content + '<div style="margin-bottom: 8px">\n' +
                '                        <p><q style="color: red">' + '系统提示:请在多选框中选择要发送的用户' + '</span></p>\n' +
                '                    </div>\n' +
                '                    <br/>');
            return
        }

        var msg = $("#msg").val();
        if (msg != null) {
            $.ajax({
                method: 'get',
                url: '/sendmsg',
                data: {
                    "client_id": user,
                    "msg": msg
                },
                success: function (data) {
                    var content = $("#content").html();
                    $("#content").html(content + '<div style="margin-bottom: 8px">\n' +
                        '                        <p><q style="color: #eb7350">' + '服务器推送  ' + msg + ' -->' + user + '</span></p>\n' +
                        '                    </div>\n' +
                        '                    <br/>');
                    console.log(data);
                }
            })
        } else {
            alert("请填写要发送的用户昵称或者发送内容");
        }
    }

    function addDeviceBTN() {
        const divA = document.getElementById("page");
        divA.innerHTML = divA.innerHTML + '<div class="layui-form-item" id="addDevice">\n' +
            '                    <div class="layui-input-inline" style="width: 350px">\n' +
            '                        <input id="DeviceName" type="text" name="device" required lay-verify="required" placeholder="设备名称"\n' +
            '                               autocomplete="off" class="layui-input">\n' +
            '\n' +
            '                        <input id="DeviceId" type="text" name="device" required lay-verify="required" placeholder="设备id"\n' +
            '                               autocomplete="off" class="layui-input">' +
            '<button class="layui-btn" onclick="addDevice()">添加设备</button>\n' +
            '                    </div>\n' +
            '                </div>';

    }

    function addDevice() {

        let DeviceName = $("#DeviceName").val();
        let DeviceMac = $("#DeviceId").val();

        if (DeviceMac == null || DeviceName == null) {
            alert("您的输入有误，请检查后重新输入");
        } else {
            $.ajax({
                    method: 'get',
                    url: '/addDevice',
                    data: {
                        DeviceName: DeviceName,
                        DeviceMac: DeviceMac
                    },
                    success: function (data) {
                        if (data === "success") {
                            let obj = document.getElementById("addDevice");
                            obj.innerHTML = "";
                            alert("添加成功" + data);
                            location.reload();
                        } else {
                            alert("添加失败，请检查设备是否已经绑定" + data);
                        }
                    }
                    , error: function () {
                        alert("连接失败");
                    }
                }
            )
        }


    }

    function sendAll() {
        let msg = $("#msg").val();
        if (msg != null) {
            $.ajax({
                method: 'get',
                url: '/sendAll',
                data: {
                    msg: msg
                },
                success: function (data) {
                    var content = $("#content").html();
                    $("#content").html(content + '<div style="margin-bottom: 8px">\n' +
                        '                        <p><q style="color: #eb7350">' + '服务器推送  ' + msg + ' --> 所有用户' + '</span></p>\n' +
                        '                    </div>\n' +
                        '                    <br/>');
                    console.log(data);
                }
            })
        } else {
            alert("请填写要发送的内容");
        }
    }

    function connect() {
        const user_name = [[${session.loginUser.user_id}]];
        const Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
        let ws = new Socket("ws://127.0.0.1/socketServer/" + user_name);

        // if ('WebSocket' in window) {
        //     //ws = new WebSocket("ws://www.isuyu.cn:8086/socketServer/niezhiliang9595");
        //     ws = new WebSocket("ws://127.0.0.1/socketServer/niezhiliang9595");
        // } else if ('MozWebSocket' in window) {
        //     //ws = new MozWebSocket("ws://www.isuyu.cn:8086/socketServer/niezhiliang9595");
        //     ws = new MozWebSocket("ws://127.0.0.1/socketServer/niezhiliang9595");
        // } else {
        //     alert("该浏览器不支持websocket");
        // }
        ws.onmessage = function (evt) {
            var content = $("#content").html();
            $("#content").html(content + '<div style="text-align: right;margin-bottom: 8px">\n' +
                '                        <p><q style="color: mediumorchid;text-align: right">' + evt.data + '</span></p>\n' +
                '                    </div>\n' +
                '                    <br/>');
            console.log(msg)
        };

        ws.onclose = function (evt) {
            console.log('连接关闭')
        };

        ws.onopen = function (evt) {
            var content = $("#content").html();
            $("#content").html(content + '<div style="margin-bottom: 8px">\n' +
                '                        <p><q style="color: #eb7350">' + '服务器初始化成功...' + '</span></p>\n' +
                '                    </div>\n' +
                '                    <br/>');
            console.log('连接成功')
        };
    }

    connect()
</script>

</body>

</html>

