<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../vendors/base/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" th:href="@{../vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

    <script th:src="@{../jquery.min.js}"></script>
    <!-- plugins:js -->
    <script th:src="@{../vendors/base/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script th:src="@{../vendors/chart.js/Chart.min.js}"></script>
    <script th:src="@{../vendors/datatables.net/jquery.dataTables.js}"></script>
    <script th:src="@{../vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>

    <script th:src="@{../js/off-canvas.js}"></script>
    <script th:src="@{../js/hoverable-collapse.js}"></script>
    <script th:src="@{../js/template.js}"></script>

    <script th:src="@{../js/dashboard.js}"></script>
    <script th:src="@{../js/data-table.js}"></script>
    <script th:src="@{../js/jquery.dataTables.js}"></script>
    <script th:src="@{../js/dataTables.bootstrap4.js}"></script>

</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:insert="~{pages/commons/commons.html::navbar}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div th:insert="~{pages/commons/commons.html::siderbar}"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" id="DevicesShow">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>Welcome back</h2>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        在线设备
                    </div>

                    <div class="col" id="OnLineDevices">

                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        全部设备
                    </div>
                    <div class="card-body" id="AllDevices">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body"></div>
    </div>

</div>

<script type="text/javascript">
    // parameter_device()
    let ws = null;
    connect()
    devices()

    function connect() {
        const user_name = [[${session.loginUser.user_id}]];

        const Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
        ws = new Socket("ws://127.0.0.1/ws/U" + user_name);

        ws.onmessage = function (evt) {
            if (evt.data === "00") {
                console.log("心跳")
            } else {
                console.log(JSON.parse(evt.data)+"qwe")
            }
        };

        ws.onclose = function (evt) {
            console.log('连接关闭')
        };

        ws.onopen = function (evt) {
            ws.send("0100")
            console.log('连接成功')
        };
    }

    function devices() {
        let onLineDevices = document.getElementById("device-online");
        let Devices = document.getElementById("device-all");
        let onLine_sum = document.getElementById("onLine_sum");
        let OnLineDevices = document.getElementById("OnLineDevices");
        let AllDevices = document.getElementById("AllDevices");
        $.ajax({
                method: 'post',
                url: '/device/selectByUserId',
                data: 'user_id=[[${session.loginUser.user_id}]]',
                dataType: "json",
                success: function (data) {
                    Devices.innerHTML = "";
                    onLineDevices.innerHTML = "";
                    AllDevices.innerHTML = "";
                    OnLineDevices.innerHTML = "";
                }
            }
        )

    }

    function addDevice() {
        let device_name = document.getElementById("device_name").value;
        let device_mac = document.getElementById("device_mac").value;
        if (device_mac !== "" && device_name !== "") {
            $.ajax({
                method: 'get',
                url: '/addDevice',
                data: {
                    DeviceName: device_name,
                    DeviceMac: device_mac
                },
                success: function (data) {
                    if (data === "success") {
                        let obj = document.getElementById("addDevice");
                        obj.innerHTML = "";
                        alert("添加成功" + data);
                        location.reload();
                    } else {
                        alert("添加失败，请检查设备是否已经绑定" + data);
                    }
                }
                , error: function () {
                    alert("连接失败");
                }
            })
        } else {
            alert("请输入")
        }


    }

</script>

</body>

</html>

