<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{../vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../vendors/base/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" th:href="@{../vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

    <script th:src="@{../jquery.min.js}"></script>
    <!-- plugins:js -->
    <script th:src="@{../vendors/base/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script th:src="@{../vendors/chart.js/Chart.min.js}"></script>
    <script th:src="@{../vendors/datatables.net/jquery.dataTables.js}"></script>
    <script th:src="@{../vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>

    <script th:src="@{../js/off-canvas.js}"></script>
    <script th:src="@{../js/hoverable-collapse.js}"></script>
    <script th:src="@{../js/template.js}"></script>

    <script th:src="@{../js/dashboard.js}"></script>
    <script th:src="@{../js/data-table.js}"></script>
    <script th:src="@{../js/jquery.dataTables.js}"></script>
    <script th:src="@{../js/dataTables.bootstrap4.js}"></script>

</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:insert="~{pages/commons/commons.html::navbar}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div th:insert="~{pages/commons/commons.html::siderbar}"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" id="DevicesShow">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>Welcome back</h2>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        在线设备
                    </div>

                    <div class="col" id="OnLineDevices">

                    </div>
                </div>
                <div class="row">
                    <div class="card-header">
                        全部设备
                    </div>
                    <div class="card-body" id="AllDevices">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body"></div>
    </div>

</div>

<script type="text/javascript">
    // parameter_device()
    var ws = null;
    devices()
    connect()

    function sand_parameter_msg(device_id) {
        let customizeMsg_ = document.getElementById("customizeMsg_" + device_id).value;
        $.ajax({
            method: 'get',
            url: '/UserSandMsg',
            data: {
                deviceId: device_id,
                msg: customizeMsg_
            },
            success: function (to_user_id) {
                let jsonMsg = JSON.stringify({
                    "msg": customizeMsg_,
                    "device_id": to_user_id,
                    "to_user_id": device_id
                });
                // ws.send(jsonMsg);

                $.ajax({
                    method: 'get',
                    url: '/sendmsg',
                    data: {
                        "client_id": device_id,
                        "msg": customizeMsg_
                    },
                    success: function (data) {
                        // ws.send(jsonMsg)
                        //使用接口向后台发消息，后台服务在进行转发
                        alert("发送成功")
                        console.log(data);
                    }
                })

            }
            , error: function () {
                alert("未绑定账户，请进入管理员页面添加");
            }
        })
    }

    //发送消息，发送要控制的设备名
    function sand_no_parameter_msg(ss, dd) {

        let asd = document.getElementById(ss + "_" + dd);
        // alert(ss+""+dd+"asd"+document.getElementById(ss+"_"+dd).getAttribute("child_device_name"));
        let device_id = asd.getAttribute("device_id");
        let child_device_id = asd.getAttribute("child_device_id");
        let child_device_name = asd.getAttribute("child_device_name");
        $.ajax({
            method: 'get',
            url: '/UserSandMsg',
            data: {
                deviceId: device_id,
                msg: child_device_name
            },
            success: function (to_user_id) {
                let jsonMsg = JSON.stringify({
                    "msg": child_device_name,
                    "device_id": to_user_id,
                    "to_user_id": device_id
                });
                // ws.send(jsonMsg);

                $.ajax({
                    method: 'get',
                    url: '/sendmsg',
                    data: {
                        "client_id": device_id,
                        "msg": child_device_name
                    },
                    success: function (data) {
                        // ws.send(jsonMsg)
                        //使用接口向后台发消息，后台服务在进行转发
                        alert("发送成功")
                        console.log(data);
                    }
                })

            }
            , error: function () {
                alert("未绑定账户，请进入管理员页面添加");
            }
        })


        // alert(child_device_name + "asd");
        // let jsonMsg = JSON.stringify({"msg": "卧室灯", "device_id": 101878, "to_user_id": 4});
        // ws.send(jsonMsg);

    }

    function noParameter_device(device_id) {
        let OnLineDevicesShow_ = document.getElementById("OnLineDevicesKeyShow_" + device_id);
        $.ajax({
            method: 'get',
            url: '/q_cd_byId',
            dataType: "json",
            data: {
                "device_id": device_id
            },
            success: function (data) {
                // OnLineDevicesShow_.innerHTML = "";
                data.forEach(function (child_device) {
                    OnLineDevicesShow_.innerHTML = OnLineDevicesShow_.innerHTML +
                        "<button class='btn btn-block btn-dark' " +
                        "device_id='" + child_device.device_id + "'" +
                        "child_device_id='" + child_device.child_device_id + "'" +
                        "child_device_name='" + child_device.child_device_name + "'" +
                        "onclick='sand_no_parameter_msg(" + child_device.device_id + "," + child_device.child_device_id + ")'" +
                        " id=" + child_device.device_id + "_" + child_device.child_device_id + " >"
                        + child_device.child_device_name + "</button>";
                })

                console.log(data);
            }
        })
        // noParameter_device.innerHTML = noParameter_device.innerHTML + "<div class=\"card-outline-primary\">\n" +
        //     "                                            <button type=\"button\" class=\"btn btn-inverse-success btn-block btn-fw\" " +
        //     "id='4' name='卧室灯' onclick='sand_no_parameter_msg(4,'卧室灯')' >卧室灯\n" +
        //     "                                            </button>\n" +
        //     "                                        </div>\n" +
        //     "                                        <div class=\"card-outline-primary border-left-0 grid-margin-xl-0\">\n" +
        //     "                                            <button type=\"button\" class=\"btn btn-inverse-primary btn-block btn-fw\">客厅灯\n" +
        //     "                                            </button>\n" +
        //     "                                        </div>";
    }


    function devices() {
        let onLineDevices = document.getElementById("device-online");
        let Devices = document.getElementById("device-all");
        let onLine_sum = document.getElementById("onLine_sum");
        let OnLineDevices = document.getElementById("OnLineDevices");
        let AllDevices = document.getElementById("AllDevices");
        $.ajax({
            method: 'get',
            url: '/getDevicesByUserId',
            dataType: "json",
            success: function (data) {
                Devices.innerHTML = "";
                onLineDevices.innerHTML = "";
                AllDevices.innerHTML = "";
                OnLineDevices.innerHTML = "";
                data.devices.forEach(function (item) {

                        Devices.innerHTML = Devices.innerHTML + "<ul class=\"nav flex-column sub-menu\" >\n" +
                            "                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"#" + item.device_id + " \">" + item.device_name + "</a>\n" +
                            "                    </li>\n" +
                            "                </ul>";
                        AllDevices.innerHTML = AllDevices.innerHTML + "<div class=\"card \">\n" +
                            "                            <div class=\"card-header \">\n" +
                            "                                " + item.device_name + "\n" +
                            "                            </div>\n" +
                            "                            <div class=\"card-body\">\n" +
                            "                                <div class=\"col-md-12 grid-margin stretch-card\">\n" +
                            "                                    <div class=\"col-md-5  stretch-card\">\n" +
                            "                                        <div class=\"card\">\n" +
                            "                                            <div class=\"card-header\">数据接收</div>\n" +
                            "                                            <div class=\"card-body\" " +
                            "id='OnLineDevicesDataShow_" + item.device_id + "'>" +
                            "<div class='row'> " +
                            "<button class='btn btn-danger btn-sm'>温度</button> " +
                            "<button class='btn btn-light btn-sm' id='dtemperature_" + item.device_id + "'>25</button> " +
                            "<button class='btn btn-light btn-sm'>摄氏度</button> " +
                            "</div>" +
                            "<br>" +
                            "<div class='row'> " +
                            "<button class='btn btn-primary btn-sm'>湿度</button> " +
                            "<button class='btn btn-light btn-sm' id='dhumidity" + item.device_id + "'>70</button> " +
                            "<button class='btn btn-light btn-sm'>相对湿度</button> " +
                            "</div>" +
                            "<br>" +
                            "<div class='row'> " +
                            "<button class='btn btn-secondary btn-sm'>PM2.5/1h</button> " +
                            "<button class='btn btn-light btn-sm' id='dPM25" + item.device_id + "'>23</button> " +
                            "<button class='btn btn-light btn-sm'>μg/m3(CO为mg/m3)</button> " +
                            "</div>" +
                            "<br>" +
                            "</div>\n" +
                            "                                            <div class=\"card-footer\"></div>\n" +
                            "                                        </div>\n" +
                            "                                    </div>\n" +
                            "                                    <div class=\"col-md-3  stretch-card\">\n" +
                            "                                        <div class=\"card\">\n" +
                            "                                            <div class=\"card-header\">按键控制</div>\n" +
                            "                                            <div class=\"card-body\" " +
                            "id='DevicesKeyShow_" + item.device_id + "'></div>\n" +
                            "                                            <div class=\"card-footer\"></div>\n" +
                            "                                        </div>\n" +
                            "                                    </div>\n" +
                            "                                    <div class=\"col-md-4  stretch-card\">\n" +
                            "                                        <div class=\"card\">\n" +
                            "                                            <div class=\"card-header\">控制</div>\n" +
                            "                                            <div class=\"card-body\"></div>\n" +
                            "                                            <div class=\"card-footer\"></div>\n" +
                            "                                        </div>\n" +
                            "                                    </div>\n" +

                            "                            </div>\n" +
                            "                        </div>";
                    }
                )
                data.devicesOnLine.forEach(function (item) {
                    let deviceId = item.device_id;
                    onLineDevices.innerHTML = onLineDevices.innerHTML + "<ul class=\"nav flex-column sub-menu\" >\n" +
                        "                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"#" + item.device_id + " \">" + "<spam class=\"menu-title\">" + item.device_name + "</spam></a>\n" +
                        "                    </li>\n" +
                        "                </ul>";
                    OnLineDevices.innerHTML = OnLineDevices.innerHTML + "<div class=\"card \">\n" +
                        "                            <div class=\"card-header \">\n" +
                        "                                " + item.device_name + "\n" +
                        "                            </div>\n" +
                        "                            <div class=\"card-body\">\n" +
                        "                                <div class=\"col-md-12 grid-margin stretch-card\">\n" +
                        "                                    <div class=\"col-md-5  stretch-card\">\n" +
                        "                                        <div class=\"card\">\n" +
                        "                                            <div class=\"card-header\">数据接收</div>\n" +
                        "                                            <div class=\"card-body\" " +
                        "id='OnLineDevicesDataShow_" + item.device_id + "'>" +
                        "<div class='row'> " +
                        "<button class='btn btn-danger btn-sm'>温度</button> " +
                        "<button class='btn btn-light btn-sm' id='temperature_" + item.device_id + "'>25</button> " +
                        "<button class='btn btn-light btn-sm'>摄氏度</button> " +
                        "</div>" +
                        "<br>" +
                        "<div class='row'> " +
                        "<button class='btn btn-primary btn-sm'>湿度</button> " +
                        "<button class='btn btn-light btn-sm' id='humidity_" + item.device_id + "'>70</button> " +
                        "<button class='btn btn-light btn-sm'>相对湿度</button> " +
                        "</div>" +
                        "<br>" +
                        "<div class='row'> " +
                        "<button class='btn btn-secondary btn-sm'>PM2.5/1h</button> " +
                        "<button class='btn btn-light btn-sm' id='PM25_" + item.device_id + "'>23</button> " +
                        "<button class='btn btn-light btn-sm'>μg/m3(CO为mg/m3)</button> " +
                        "</div>" +
                        "<br>" +

                        "</div>\n" +
                        "                                            <div class=\"card-footer\"></div>\n" +
                        "                                        </div>\n" +
                        "                                    </div>\n" +
                        "                                    <div class=\"col-md-3  stretch-card\">\n" +
                        "                                        <div class=\"card\">\n" +
                        "                                            <div class=\"card-header\">按键控制</div>\n" +
                        "                                            <div class=\"card-body\" " +
                        "id='OnLineDevicesKeyShow_" + item.device_id + "'></div>\n" +
                        "                                            <div class=\"card-footer\"></div>\n" +
                        "                                        </div>\n" +
                        "                                    </div>\n" +
                        "                                    <div class=\"col-md-4  stretch-card\">\n" +
                        "                                        <div class=\"card\">\n" +
                        "                                            <div class=\"card-header\">控制</div>\n" +
                        "                                            <div class=\"card-body\">" +
                        "<button class='btn-danger btn-block' id='del_device_" +
                        "" + item.device_id + "' onclick='del_device(" + deviceId + ")'>删除设备</button>" +
                        "<br>" +
                        "<input type='text' class='form-control'\n" +
                        " id='customizeMsg_" + item.device_id + "' placeholder='消息内容'>" +
                        "<button class='btn-block btn btn-secondary' onclick='sand_parameter_msg(" + item.device_id + ")'>发送消息</button>" +
                        "                                            <div class=\"card-footer\"></div>\n" +
                        "                                        </div>\n" +
                        "                                    </div>\n" +

                        "                            </div>\n" +
                        "                        </div>";
                    // OnLineDevices.innerHTML = OnLineDevices.innerHTML + "<div class=\"card-title\" id=\"OnLineDevicesShow_" + item.device_id + "" +
                    //     "\"><div class='card-header'>" + item.device_name + "</div>" +
                    //     "<div class=\"col-md-3 grid-margin stretch-card\"><div" +
                    //     " class='card-title'>按键</div><div class='card-body' id=\"OnLineDevicesKeyShow_" + item.device_id + "" +
                    //     "\" </div></div>";
                })
                data.devicesOnLine.forEach(function (item) {
                        noParameter_device(item.device_id);
                    }
                )
                onLine_sum.innerHTML = data.devicesOnLine.length;
                //let deviceData=JSON.parse(data);
                // setTimeout(devices, 3000);
                // console.log(data.devices[0]);
                // console.log(data.devicesOnLine);
                // console.log(data);
            }
        })

    }

    function del_device(deviceId) {
        $.ajax({
            method: 'get',
            url: '/del_device',
            data: {
                "deviceId": deviceId,
            },
            success: function (data) {
                alert(data)
                location.reload();
                console.log(data);
            }
        })
    }


    function addDeviceBTN() {
        const divA = document.getElementById("addDevice");

        divA.innerHTML = divA.innerHTML + '<form class="forms-sample">\n' +
            '                    <div class="form-group row">\n' +
            '                      <div class="col-sm-9">\n' +
            '                        <input type="text" class="form-control" id="device_name" placeholder="设备名称">\n' +
            '                      </div>\n' +
            '                    </div>\n' +
            '                    <div class="form-group row">\n' +
            '                      <div class="col-sm-9">\n' +
            '                        <input type="text" class="form-control"  id="device_mac" placeholder="设备MAC">\n' +
            '                      </div>\n' +
            '                    </div>\n' +

            '                    <button type="button" onclick="addDevice()" class="btn btn-primary btn-block ">添加</button>\n' +

            '                  </form>';

    }

    function addDevice() {

        let DeviceName = $("#DeviceName").val();
        let DeviceMac = $("#DeviceId").val();


            $.ajax({
                    method: 'get',
                    url: '/addDevice',
                    data: {
                        DeviceName: DeviceName,
                        DeviceMac: DeviceMac
                    },
                    success: function (data) {
                        if (data === "success") {
                            let obj = document.getElementById("addDevice");
                            obj.innerHTML = "";
                            alert("添加成功" + data);
                            location.reload();
                        } else {
                            alert("添加失败，请检查设备是否已经绑定" + data);
                        }
                    }
                    , error: function () {
                        alert("连接失败");
                    }
                }
            )


    }

    function sendAll() {
        let msg = $("#msg").val();
        if (msg != null) {
            $.ajax({
                method: 'get',
                url: '/sendAll',
                data: {
                    msg: msg
                },
                success: function (data) {
                    console.log(data);
                }
            })
        } else {
            alert("请填写要发送的内容");
        }
    }

    function connect() {
        const user_name = [[${session.loginUser.user_id}]];

        const Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
        ws = new Socket("ws://127.0.0.1/ws/" + user_name);

        ws.onmessage = function (evt) {

            let ob = JSON.parse(evt.data);
            let obj = JSON.parse(ob.msg);
            // alert(obj.temperature)
            let temperature_ = document.getElementById("temperature_" + ob.device_id);
            let humidity_ = document.getElementById("humidity_" + ob.device_id);
            let PM25_ = document.getElementById("PM25_" + ob.device_id);
            temperature_.innerHTML = obj.temperature;
            humidity_.innerHTML = obj.humidity;
            PM25_.innerHTML = obj.PM25;
            // alert( obj.humidity)

        };

        ws.onclose = function (evt) {
            console.log('连接关闭')
        };

        ws.onopen = function (evt) {

            console.log('连接成功')
        };
    }


</script>

</body>

</html>

